account-service/src/main/resources/application.properties
customer-service/src/main/resources/application.properties
gateway-service/src/main/resources/application.properties
gateway-service/target/classes/application.properties
gateway-service/src/main/resources/application.yml
